/* asterist wildcard selector to override default browser styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Header */
header {
    background-color: red;
}

/* Main content */
main {
    background-color: black;
}

/* Footer */
footer {
    background-color: green;
}